<div class="container pt-5">
  <table class="table border border-black">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">RNC/Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let con of Contribuyente" >
        <th scope="row"> <a href="#" [routerLink]="['detalle/'+ con.RncCedula]">{{con.Contribuyente_id}} </a></th>
        <td>{{con.RncCedula}}</td>
        <td>{{con.Contribuyente_Nombre}}</td>
        <td>{{con.Tipo}}</td>
        <td>{{con.Estatus}}</td>
      </tr>

    </tbody>
  </table>
</div>

